CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_4mb_optimised.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xc000
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CONFIG_DATA=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
# CONFIG_BT_BLUEDROID_ENABLED is not set
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1=y
# CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_2 is not set
CONFIG_NETWORK_PROV_NETWORK_TYPE_WIFI=y
CONFIG_MQTT_PROTOCOL_5=y
CONFIG_MOTOR_FULL_STEPS_PER_REV=200
CONFIG_MOTOR_MICROSTEP=8
CONFIG_MOTOR_DEFAULT_RPM=100
CONFIG_MOTOR_MAX_RPM=150
CONFIG_MOTOR_ACCELERATION=1000
CONFIG_MOTOR_FULL_TRAVEL_STEPS=36000
CONFIG_MOTOR_FEEDBACK_MODE_PULSE_ONLY=y
# CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE is not set
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_ESP_COREDUMP_CHECK_BOOT=y
CONFIG_ESP_COREDUMP_MAX_TASKS_NUM=32
# CONFIG_ESP_COREDUMP_CAPTURE_DRAM is not set
